header .carousel-inner .img-benner{
    height:1500px;
    width: 1100px;
}
main .img .img-test{
    height:400px;
    width: 450px;
}
 .about{
    width: 300px;
    text-align: center;
    margin:auto;
}
footer .about-2{
    width:500px;
    text-align: center;
    margin:auto;
}
